<ion-view view-title="{{member.name}}">
  <ion-content>
	<div id="container">
	  <div class="clip-circle image" style="background-image: url({{member.face}})"></div>
	  <div class="info">
	    <h1 class="name">{{member.name}}</h1>
	    <h3 class="position">{{member.job}}</h3>
	    <p>Large bet on myself in round one pansy i more, but you go</p>
	  </div>
	  <div class="social">
	    <a href=""><i class="icon ion-social-twitter"></i></a>

	    <a href=""><i class="icon ion-social-linkedin"></i></a>

	    <a href=""><i class="icon ion-social-facebook"></i></a>

	    <a href=""><i class="icon ion-social-skype"></i></a>
	  </div>

	</div>
	<div class="item tabs tabs-secondary tabs-icon-left">
	  <a class="tab-item" href="#/tab/members">
	    <i class="icon ion-pie-graph"></i>
	    All Members
	  </a>
	  <a class="tab-item" href="#">
	    <i class="icon ion-trash-a"></i>
	    Delete
	  </a>
	</div>
  </ion-content>
</ion-view>
