<ion-view view-title="Photos">
	<ion-pane ng-controller="GalleryCtrl" ng-model="gallery">
		<ion-header-bar>
			<h1 class="title">Title</h1>
			<button ng-click="addSlide()">Add</button>
		</ion-header-bar>

		<ion-slide-box delegate-handle="gallery">
			<ion-slide ng-repeat="slide in slides"
					ng-width="Math.max(gallery.width, 6000)"
					ng-height="gallery.height">
				<img ng-src="{{slide.image}}" pg-zoom />
				<img ng-src="{{slide.image2}}" />
			</ion-slide>
		</ion-slide-box>
	</ion-pane>
</ion-view>
