<ion-view view-title="Overview">
	<ion-content class="padding">
		<ion-refresher pulling-text="Pull To Refresh" on-refresh="refreshTasks()" refreshing-text="Fetching ..." refreshing-icon="ion-loading-b">
		</ion-refresher>
		<div class="list card">
			<div class="summary_header item item-divider">
				<h2 color="primary">Summary</h2>
				<ul>
					<li class="category"><h2><strong>{{total_balance}}</strong></h2></li>
					<li class="percentage"><h2><strong>{{total_return_percentage}}</strong></h2></li>
					<li class="category">Total Balance</li>
					<li class="percentage">Returns</li>
				</ul>
			</div>
			<div class="item item-body">
				<ul>
					<li class="category text-muted">What you invested</li>
					<li class="percentage">{{invested_amount}}</li>
					<li class="category text-muted">What you earned</li>
					<li class="percentage">{{invested_return_amount}}</li>
				</ul>
			</div>
		</div>
		<ion-item class="item-avatar item-icon-right" ng-repeat="portfolio in portfolios" type="item-text-wrap" href="#/tab/portfolio/{{portfolio.id}}">
			<div class="portfolio_summary">
				<ul>
					<li class="portfolio_logo">
						<img ng-src="{{ portfolio.logo && portfolio.logo || '' }}" width="80" height="80" />
					</li>
					<li class="portfolio_name">
						<h2>{{portfolio.name}}</h2>
						<p class="subdued">{{portfolio.description}}</p>
					 </li>
					<li class="portfolio_balance"><b>{{portfolio.balance | currency}}</b></li>
				</ul>

			</div>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-content>
</ion-view>
