
#poem { 
	margin: auto;
	padding: 20px 0;
	text-align: left;
	width: 600px;
	max-width: 100%;

	background: #26292E;
	color: #FFF;
	font: 14px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
	text-align: center;
	text-shadow: 0px 2px 3px #666;
}

.grad1 {
    height: 400px;
    width: 400px;
    max-width: 100%;
    background: -webkit-radial-gradient(#888888, #292F2E); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#888888, #292F2E); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#888888, #292F2E); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#888888, #292F2E); /* Standard syntax (must be last) */
}

#poem h1, h2 {
	font-weight: normal;
	text-align: center;
	}
	
#poem h1 {
	font-size: 34px;
	line-height: 1.2;
	margin-bottom: 10px;
	}

#poem h2 {
	color: #666;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 30px;
	}
	
#poem p {
	line-height: 1.5;
	margin-bottom: 15px;
	}

/* The magic of selectors begins... */

#poem h2:before {
	content: '— ';
	}

#poem h2:after {
	content: ' —';
	}

#poem h2 + p:first-letter {
		float: left;
		font-size: 38px;
		line-height: 1;
		margin: 2px 5px 0 0;
	}
	
#poem p:first-line {
	font-variant: small-caps;
	letter-spacing: 1px;
	}

#poem p:last-child {
	font-variant: small-caps;
	color: #666;
	margin-bottom: 30px;
	padding-bottom: 30px;
	}