<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<title>Twinkle Twinkle Little Star, the CSS3 way</title>
	
	<link rel="stylesheet" type="text/css" href="twinkle-twinkle.css" />
	
</head>

<body>

	<div id="poem">

		<h1>Twinkle Twinkle Little Star</h1>
		
		<h2>by Jane Taylor, 1806</h2>
	
		<p>Twinkle, twinkle, little star,<br />
		How I wonder what you are!<br />
		Up above the world so high,<br />
		Like a diamond in the sky!</p>
		
		<p>When the blazing sun is gone,<br />
		When he nothing shines upon,<br />
		Then you show your little light,<br />
		Twinkle, twinkle, all the night.</p>
		
		<p>Then the traveller in the dark,<br />
		Thanks you for your tiny spark,<br />
		He could not see which way to go,<br />
		If you did not twinkle so.</p>
		
		<p>In the dark blue sky you keep,<br />
		And often through my curtains peep,<br />
		For you never shut your eye,<br />
		Till the sun is in the sky.</p>
		
		<p>As your bright and tiny spark,<br />
		Lights the traveller in the dark,&mdash;<br />
		Though I know not what you are,<br />
		Twinkle, twinkle, little star.</p>
	
	</div>
	
	<p>Lyrics from <a href="http://en.wikipedia.org/wiki/Twinkle_Twinkle_Little_Star">Wikipedia</a> | <a href="http://webdesignernotebook.com/css/twinkle-twinkle-css3/">Visit the original article</a></p>
	

</body>

</html>